.employees-container {
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #1e293b;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}