.my-container {
  padding: 30px;
  font-size: 15px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1e293b;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}